@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.014 180.72);
  --color-base-200: oklch(100% 0 0);
  --color-base-300: oklch(95% 0.051 180.801);
  --color-base-content: oklch(0% 0 0);
  --color-primary: oklch(77% 0.152 181.912);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(27% 0.046 192.524);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(27% 0.046 192.524);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(77% 0.152 181.912);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(70% 0.04 256.788);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(100% 0 0);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 0px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(27% 0.046 192.524);
  --color-base-200: oklch(0% 0 0);
  --color-base-300: oklch(38% 0.063 188.416);
  --color-base-content: oklch(100% 0 0);
  --color-primary: oklch(77% 0.152 181.912);
  --color-primary-content: oklch(0% 0 0);
  --color-secondary: oklch(60% 0.118 184.704);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(38% 0.063 188.416);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(77% 0.152 181.912);
  --color-neutral-content: oklch(0% 0 0);
  --color-info: oklch(70% 0.04 256.788);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 0px;
  --depth: 0;
  --noise: 0;
}

@theme {
    --font-sans: Bricolage Grotesque, sans-serif;
    --font-serif: Bricolage Grotesque, serif;
    --font-mono: Bricolage Grotesque, monospace;
}